extends bootstrap-base

block franken-body
  h1 ALUMNI MEET
  form(action='/' method="post")
    .form-group
      label NAME
      input.form-control(name='name', type='text', maxlength='50')
      br
    .form-group
      label BRANCH
      select.form-control(name='branch')
        option(value='ECE') ECE
        option(value='CSE') CSE
      br
    .form-group
      label SPORT
      select.form-control(name='SPORT')
        option(value='CRICKET')CRICKET
        option(value='FOOTBALL') FOOTBALL
        option(value='VOLLEYBALL') VOLLEY-BALL
        option(value='THROWBALL') THROW-BALL
        option(value='CHESS') CHESS
        option(value='TABLETENNIS') TABLE-TENNIS
        option(value='CARROMS') CARROM-BOARD
        option(value='KABADDI') KABADDI
      br
    button.btn.btn-primary(type='submit') Submit
