extends bootstrap-base

block franken-body
 center
  img(src="https://www.youthincmag.com/wp-content/uploads/2017/08/watercolor-background-of-indian-flag_1035-1092.jpg")
  h1 KLH SPORTS FOR REPUBLIC DAY
  form(action='/' method="post" background='')
    .form-group
      label NAME:
      input.form-control(name='name', type='text', maxlength='50')
      br
    .form-group
      label GENDER
      select.form-control(name='gender')
        option(value='MALE') MALE
        option(value='FEMALE') FEMALE
    .form-gorup
      label ROLLNUMBER:
      input.form-control(name='rollno',type='number',maxlength='10')
      br
    .form-group
      label BRANCH
      select.form-control(name='branch')
        option(value='ECE') ECE
        option(value='CSE') CSE
      br
    .form-group
      label SPORT
      select.form-control(name='sport')
        option(value='CHESS') CHESS
        option(value='TABLETENNIS') TABLE-TENNIS
        option(value='CARROMS') CARROM-BOARD
        option(value='Chess&TT') CHESS & TABLE-TENNIS
        option(value='TT&Carrom') TABLE-TENNIS & CARROM
        option(value='Carrom&Chess') CARROM & CHESS
        option(value='allthree') ALL_THREE
      br
    button.btn.btn-primary(type='submit') Submit
    footer
  p DEVELOPED BY: AKN STUDIO
  .form-group
  img(src='http://klh.edu.in/img/KLH_Logo.png')
  #br
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style.
      p {
      text-align: center;
      font-size: 60px;
      margin-top: 0px;
      }
    p#demo
    script.
      // Set the date we're counting down to
      var countDownDate = new Date("Jan 13, 2019 12:00:00").getTime();
      // Update the count down every 1 second
      var x = setInterval(function() {
      // Get todays date and time
      var now = new Date().getTime();
      // Find the distance between now and the count down date
      var distance = countDownDate - now;
      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
      // Output the result in an element with id="demo"
      document.getElementById("demo").innerHTML = days + "d " + hours + "h "
      + minutes + "m " + seconds + "s "+"TO CLOSE THE PORTAL";
      // If the count down is over, write some text
      if (distance < 0) {
      clearInterval(x);
      document.getElementById("demo").innerHTML = "EXPIRED";
      }
      }, 1000);
  



