extends bootstrap-base

block franken-body
 center
  h1 KLH SPORTS FOR REPUBLIC DAY
  form(action='/' method="post" background='')
    .form-group
      label NAME:
      input.form-control(name='name', type='text', maxlength='50')
      br
    .form-group
      label GENDER
      select.form-control(name='gender')
        option(value='MALE') MALE
        option(value='FEMALE') FEMALE
    .form-gorup
      label ROLLNUMBER:
      input.form-control(name='rollno',type='number',maxlength='10')
      br
    .form-group
      label BRANCH
      select.form-control(name='branch')
        option(value='ECE') ECE
        option(value='CSE') CSE
      br
    .form-group
      label SPORT
      select.form-control(name='sport')
        option(value='CHESS') CHESS
        option(value='TABLETENNIS') TABLE-TENNIS
        option(value='CARROMS') CARROM-BOARD
        option(value='Chess&TT') CHESS & TABLE-TENNIS
        option(value='TT&Carrom') TABLE-TENNIS & CARROM
        option(value='Carrom&Chess') CARROM & CHESS
        option(value='allthree') ALL_THREE
      br
    button.btn.btn-primary(type='submit') Submit
    footer
  p DEVELOPED by: AKN STUDIO
  img(src='http://klh.edu.in/img/KLH_Logo.png')



